
<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section">
      <h4>PplPro</h4>
      <p>Efficiently manage your organization's workforce.</p>
      <p>Created by Timothy Jan</p>
      <a href="https://github.com/TimothyJan/PplPro-Frontend" aria-label="Github" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="footer-section">
      <p>&copy; 2024 PplPro All rights reserved.</p>
    </div>
  </div>
</footer>

