<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-brand">PplPro</a>
    <!-- <ul class="navbar-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul> -->
  </div>
</nav>

<!-- Main Content -->
<div class="main-content">
  <div class="flex-container">
    <div class="flex-item">
      <app-employee-create></app-employee-create>
    </div>
    <div class="flex-item">
      <app-employee-list></app-employee-list>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-item">
      <app-department-create></app-department-create>
    </div>
    <div class="flex-item">
      <app-department-list></app-department-list>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-item">
      <app-role-create></app-role-create>
    </div>
    <div class="flex-item">
      <app-role-list></app-role-list>
    </div>
  </div>
</div>

